<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 
 <a href="/">Index page</a>
 <h1>Celery calls:</h1>
 <ul>
	 <li><a href="{% url 'sayhello' %}">Say Hello to Celery</a></li>
	 <li><a href="{% url 'sendemail' %}">Send E-mail via Celery</a></li>
	 <li>Heart Beat is beating every 1 minute.</li>
	 <li>Another background process is scheduled by crontab and running every 15 seconds.</li>
 </ul>
</body>
</html>
