<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 
 <a href="/">Index page</a>
 <h1>Celery calls:</h1>
 <ul>
	 <li>
		 <form action="hello" method="post">
			 {% csrf_token %}
			 Your name: <input type="text" name="yourname" />
			 <input type="submit"/><br/>
			 see hello phrase - as a result in django admin in 
			 <em>Celery Results > Task results</em>
		 </form>
		 <hr/>
	 </li>
	 <li>
		 <a href="{% url 'sendemail' %}">Send E-mail via Celery</a>
		 <br/>
		 <br/>
		 <hr/>
	 </li>

	 <li>Heart Beat is beating every 1 minute.</li>
	 <li>Another background process is scheduled by crontab and running every
		 15 seconds.<br/><br/><hr/></li>
	 <li>
		 <a href="{% url 'last2minstaskresult' %}">
			 Get last 3mins task result - from TaskResult database table</a><br/>
			<br/>
		 <table border=1>
			 <tr>
				 <td>task_name:</td>
				 <td>{{ last_result.task_name }}</td>
			 </tr>
			 <tr>
				 <td>status:</td>
				 <td>{{ last_result.status }}</td>
			 </tr>
			 <tr>
				 <td>content_type:</td>
				 <td>{{ last_result.content_type }}</td>
			 </tr>
			 <tr>
				 <td>result:</td>
				 <td>{{ last_result.result }}</td>
			 </tr>
			 <tr>
				 <td>date_created:</td>
				 <td>{{ last_result.date_created }}</td>
			 </tr>
			 <tr>
				 <td>date_done:</td>
				 <td>{{ last_result.date_done }}</td>
			 </tr>
		 </table>
		 <br/>
		 <hr/>
	 </li>
	 <li>
		 <h3>Class based Celery Task</h3>
		 <form action="authenticate" method="post">
			 {% csrf_token %}
			 Your username: <input type="text" name="username" /><br/>
			 Your password: <input type="text" name="password" /><br/>
			 <input type="submit" value="Authenticate"/>
			 <p>Correct accounts are:<br/>
			 user1(user11)<br/>
			 user2(user22)<br/>
			 </p>
		 </form>
	 </li>
	 <li>
		 <h3>Class based Celery Task with result returing to view via AsyncResult</h3>
		 <form action="add" method="post">
			 {% csrf_token %}
			 Number 1: <input type="text" name="num1" /><br/>
			 Number 2: <input type="text" name="num2" /><br/>
			 <input type="submit" value="Add"/>
		 </form>
		 Result of addition is {{ add_result }}
	 </li>
 </ul>
 
</body>
</html>
